<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Doceria Doces Sonhos</title>    
    <link rel="stylesheet" type="text/css" href="style/carrinho.css">
</head>
<body>
    <header>
        <section class="header" id="header">
            <div id="mySidenav" class="sidenav">
                <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
                <a href="#header">Pedidos</a>
                <a href="#" onclick="open_home()">Home</a>
                <a href="#" onclick="open_conheca()">Conheça-nos</a>
                <a href="#" onclick="open_cardapio()">Cardápio</a>
                <a href="#" onclick="open_news()">Informações</a>
                <a href="#" onclick="open_carrinho2()">Ver carrinho</a>
            </div>
            <span onclick="openNav()">
                <div class="icone-menu"></div>
                <div class="icone-menu"></div>
                <div class="icone-menu"></div>
            </span>
            <div>
                <a onclick="open_home()">
                    <img src="img/logo-site.png" class="logo-site" alt="logo do site">
                </a>
            </div>
            <nav class="icones">
                <a href="https://www.instagram.com/elida.gouv/" target="_blank">
                    <img src="img/icone-instagram.png" class="instagram" alt="nosso instagram">
                </a>
                <a href="https://twitter.com/egouveia_" target="_blank">
                    <img src="img/icone-twitter.png" class="twitter" alt="nosso twitter"></a>
                <a href="https://www.facebook.com/profile.php?id=100007895179325" target="_blank">
                    <img src="img/icone-facebook.png" class="facebook" alt="nosso facebook"></a>
            </nav>
        </section>
    </header>
    <section id="carrinho">
        <div class="titulo-carrinho">
            <h1>Carrinho</h1>
        </div>
        <div id="conteudo">
            <div class="linhas">
                <h3>Produto</h3>
                <div class="circulo1">
                    <p>Nome do produto</p>
                </div>
            </div>
            <div class="linhas">
                <h3>Preço</h3>
                <div class="circulo2">
                    <p>Preço do produto</p>
                </div>
            </div>
            <div class="linhas">
                <h3>Quantidade</h3>
                <div class="input"><input type="number" name="" id=""></div>
            </div>
            <div class="linhas">
                <h3>Subtotal</h3>
                <div class="circulo4">
                    <p>Preço do Subtotal</p>
                </div>
            </div>
        </div>
        
    </section>

    <script type="text/javascript" src="js/menuHome.js"></script>
</body>