<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Doceria Doces Sonhos</title>
    <link rel="stylesheet" type="text/css" href="style/home.css">
</head>
<body>
    <header>
        <section class="header">
            <div id="mySidenav" class="sidenav">
                <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
                <a href="#">Pedidos</a>
                <a href="#">Home</a>
                <a href="#">Conheça-nos</a>
                <a href="#">Cardápio</a>
                <a href="#">Informações</a>
                <a href="#">Ver carrinho</a>
              </div>
              <span onclick="openNav()">
                <div class="icone-menu"></div>
                <div class="icone-menu"></div>
                <div class="icone-menu"></div>
              </span>
            <div>
                <img src="img/logo-site.png" class="logo-site" alt="logo do site">
            </div>
            <nav class="icones">
                <a href="https://www.instagram.com/elida.gouv/" target="_blank">
                    <img src="img/icone-instagram.png" class="instagram" alt="nosso instagram">
                </a>
                <a href="https://twitter.com/egouveia_" target="_blank">
                    <img src="img/icone-twitter.png" class="twitter" alt="nosso twitter"></a>
                <a href="https://www.facebook.com/profile.php?id=100007895179325" target="_blank">
                    <img src="img/icone-facebook.png" class="facebook" alt="nosso facebook"></a>
            </nav>
        </section>
    </header>

    <section class="main-landing-page">
        <div class="carousel">
            <div class="primeiro_carrossel carousel_item carousel_item--visible">
                <img src="img/foto-principal.jpg" alt="foto bolo de chocolate">
            </div>
            <div class="primeiro_carrossel carousel_item">
                <img src="img/foto-creme.jpg" alt="foto de um creme">
            </div>
            <div class="primeiro_carrossel carousel_item">
                <img src="img/muffin.jpg" alt="foto muffin">
            </div>
            <div class="carousel_actions">
                <button onclick="logicaCarrossel('primeiro_carrossel', false)" aria-label="Previous"><</button>
                <button onclick="logicaCarrossel('primeiro_carrossel', true)" aria-label="Next">></button>
            </div>
        </div>
      
        <section class="conteudo-landing-page">
            <div class="tradicao-landing-page">
                <h1>TRADIÇÃO DESDE 1957</h1>
            </div>
            <p class="paragrafo-landing-page">Desde 1957, participamos da história das famílias dos nossos clientes, <br> servindo nossos doces artesanais e exclusivos.</p>
            <div class="cardapio-landing-page">
                <button class="btn-cardapio" type="button">Cardápio</button>
            </div>
        </section>
    </section>
    <hr class="hr-landing-page">
    <section class="pagina2">
        <div class="conteudo-page2">
            <h2 class="titulo1-page2">Conheça a</h2>
            <h1 class="titulo2-page2">Doces Sonhos</h1>
            <p class="paragrafo-page2">Já conhece nossa doceria? Provar alguma especialidade nossa é como estar <br> em um dos seus melhores sonhos! Além de criarmos um clima acolhedor, <br> tudo o que é servido por aqui é feito com muita particularidade e amor. <br> Confira nossos produtos mais pedidos:
            </p>
            <div class="carousel2"> 
                <div class="segundo_carrossel carousel_item carousel_item--visible">
                    <img src="img/torta-de-cafe.jpg" alt="foto de uma torta de café">
                </div>
                <div class="segundo_carrossel carousel_item">
                    <img src="img/brownie.jpg" alt="foto de um brownie">
                </div>
                <div class="segundo_carrossel carousel_item">
                    <img src="img/bolo-de-limao.jpg" alt="foto de um bolo de limão">
                </div>
                <div class="segundo_carrossel carousel_item">
                    <img src="img/macarons.jpg" alt="foto de macarons">
                </div>
                <div class="carousel_actions">
                    <button onclick="logicaCarrossel('segundo_carrossel', false)" aria-label="Previous"><</button>
                    <button onclick="logicaCarrossel('segundo_carrossel', true)" aria-label="Next">></button>
                </div>
            </div>
        </div>
    </section>
    <hr class="hr-pagina2">
    <section class="pagina-cardapio">
        <img src="img/foto-pagina-de-cardapio.jpg" alt="" class="foto-principal-cardapio">
        <div class="conteudo-pagina-de-cardapio">
            <h1 class="titulo-cardapio">Cardápio</h1>
            <h2>Bolos e tortas </h2>
            <div class="imagens-cardapio">
                <img src="img/bolo-de-chocolate.jpg" alt="bolo de chocolate">
                <img src="img/torta-doce-de-leite.jpg" alt="torta de doce de leite">
                <img src="img/torta-de-morango.jpg" alt="torta de morango">
            </div>
            <div class="produtos-cardapio">
                <h1 class="produto1">Bolo de chocolate</h1>
                <h1 class="produto2">Torta de doce de leite</h1>
                <h1 class="produto3">Torta de morango</h1>
            </div>
            <div class="imagens-cardapio">
                <img src="img/torta-de-cafe.jpg" alt="torta de café">
                <img src="img/bolo-de-limao.jpg" alt="bolo de limão">
                <img src="img/cheesecake-maca.jpg" alt="cheesecake de maçã">
            </div>
            <div class="produtos-cardapio">
                <h1 class="produto4">Torta clássica de café</h1>
                <h1 class="produto5">Bolo recheado de limão</h1>
                <h1 class="produto6">Cheesecake de maçã</h1>
            </div>
            <div class="topo-cardapio">
                <h2>Doces e clássicos </h2>
            </div>
            <div class="imagens-cardapio">
                <img src="img/brownie.jpg" alt="brownie clássico">
                <img src="img/donuts.jpg" alt="donuts">
                <img src="img/sonho.jpg" alt="sonho recheado">
            </div>
            <div class="produtos-cardapio">
                <h1 class="produto7">Brownie clássico</h1>
                <h1 class="produto8">Donuts gourmet</h1>
                <h1 class="produto9">Sonho recheado</h1>
            </div>
            <div class="imagens-cardapio">
                <img src="img/macarons.jpg" alt="macarons">
                <img src="img/brigadeiro.jpg" alt="brigadeiro gourmet">
                <img src="img/pudim.jpg" alt="pudim tradicional">
            </div>
            <div class="produtos-cardapio">
                <h1 class="produto10">Macarons franceses</h1>
                <h1 class="produto11">Brigadeiro gourmet</h1>
                <h1 class="produto12">Pudim tradicional</h1>
            </div>
            <div class="botao-pedido">
                <button type="button" class="btn-pedido">Faça seu pedido</button>
            </div>
        </div>
    </section>
    <section class="newsletter">
        <div class="conteudo-newsletter">
            <div class="linha-decoracao">
                <img src="img/decoracao.png" alt="" class="linha1">
                <img src="img/decoracao.png" alt="" class="linha2">
            </div>
            <h1>Newsletter</h1>
            <h3>Cadastre-se e receba nossas novidades em primeira mão:</h3>
        </div>
        <form action="">
            <div class="inputs-newsletter">
                <input type="text" class="input-nome" placeholder="Nome" id="nome" required>
                <input type="email" class="input-email" placeholder="Email" id="email" required>
            </div>
            <div id="inputEnviar">
                <input type="submit" id="iptEnviar">
            </div>
        </form>
    </section>
    <footer>
        <section class="footer">
            <div class="linha-decoracao">
                <img src="img/decoracao.png" alt="" class="linha1">
                <img src="img/decoracao.png" alt="" class="linha2">
            </div>
            <div class="inf-footer">
                <div class="horarios">
                    <h2>Horários da doceria:</h2>
                    <h1>Segunda a sexta - 9h às 17h</h1>
                    <h1>Sábado - 13h às 19h</h1>
                </div>
                <div class="encomendas">
                    <h2>Encomendas:</h2>
                    <h1>docesonhos@gmail.com</h1>
                    <h1>(87)99171-2835</h1>
                </div>
                <div class="endereco">
                    <h2>Onde nos encontrar:</h2>
                    <h1>Av. Adjar da Silva Casé, <br> 800 - Indianópolis, <br> Caruaru - PE</h1>
                </div>
            </div>
        </section>
    </footer>

    <script type="text/javascript" src="js/menuHome.js"></script>
    <script type="text/javascript" src="js/carrosselHome.js"></script>
    <script type="text/javascript" src="js/newsletterHome.js"></script>

</body>
</html>