<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Doceria Doces Sonhos</title>
    <link rel="stylesheet" type="text/css" href="style/home.css">
</head>
<body>
    <header>
        <section class="header">
            <div id="mySidenav" class="sidenav">
                <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
                <a href="#">Pedidos</a>
                <a href="#">Home</a>
                <a href="#">Conheça-nos</a>
                <a href="#">Cardápio</a>
                <a href="#">Informações</a>
                <a href="#">Ver carrinho</a>
              </div>
              <span onclick="openNav()">
                <div class="icone-menu"></div>
                <div class="icone-menu"></div>
                <div class="icone-menu"></div>
              </span>
            <div>
                <img src="img/logo-site.png" class="logo-site" alt="logo do site">
            </div>
            <nav class="icones">
                <a href="https://www.instagram.com/elida.gouv/" target="_blank">
                    <img src="img/icone-instagram.png" class="instagram" alt="nosso instagram">
                </a>
                <a href="https://twitter.com/egouveia_" target="_blank">
                    <img src="img/icone-twitter.png" class="twitter" alt="nosso twitter"></a>
                <a href="https://www.facebook.com/profile.php?id=100007895179325" target="_blank">
                    <img src="img/icone-facebook.png" class="facebook" alt="nosso facebook"></a>
            </nav>
        </section>
    </header>

    <section class="main-landing-page">
        <div class="carousel">
            <div class="primeiro_carrossel carousel_item carousel_item--visible">
                <img src="img/foto-principal.jpg" alt="foto bolo de chocolate">
            </div>
            <div class="primeiro_carrossel carousel_item">
                <img src="img/foto-creme.jpg" alt="foto de um creme">
            </div>
            <div class="primeiro_carrossel carousel_item">
                <img src="img/muffin.jpg" alt="foto muffin">
            </div>
            <div class="carousel_actions">
                <button onclick="logicaCarrossel('primeiro_carrossel', false)" aria-label="Previous"><</button>
                <button onclick="logicaCarrossel('primeiro_carrossel', true)" aria-label="Next">></button>
            </div>
        </div>
      
        <section class="conteudo-landing-page">
            <h1 class="tradicao-landing-page">TRADIÇÃO DESDE 1957</h1>
            <p class="paragrafo-landing-page">Desde 1957, participamos da história das famílias dos nossos clientes, <br> servindo nossos doces artesanais e exclusivos.</p>
            <div class="cardapio-landing-page">
                <button class="btn-cardapio" type="button">Cardápio
                    <a href="#" target="_blank"></a>
                </button>
            </div>
        </section>
    </section>
    <hr>
    <section class="pagina2">
        <div class="conteudo-page2">
            <h2 class="titulo1-page2">Conheça a</h2>
            <h1 class="titulo2-page2">Doces Sonhos</h1>
            <p class="paragrafo-page2">Já conhece nossa doceria? Provar alguma especialidade nossa é como estar <br> em um dos seus melhores sonhos! Além de criarmos um clima acolhedor, <br> tudo o que é servido por aqui é feito com muita particularidade e amor. <br> Confira nossos produtos mais pedidos:
            </p>
            <div class="carousel">
                <div class="segundo_carrossel carousel_item carousel_item--visible">
                    <img src="img/torta-de-cafe.jpg" alt="foto de torta de café">
                </div>
                <div class="segundo_carrossel carousel_item">
                    <img src="img/brownie.jpg" alt="foto de um brownie">
                </div>
                <div class="segundo_carrossel carousel_item">
                    <img src="img/cheescake-maca.jpg" alt="foto de um cheescake de maçã">
                </div>
                <div class="carousel_actions">
                    <button onclick="logicaCarrossel('segundo_carrossel', false)" aria-label="Previous"><</button>
                    <button onclick="logicaCarrossel('segundo_carrossel', true)" aria-label="Next">></button>
                </div>
            </div>
        </div>
    </section>
    <hr>
    <footer class="footer">
    </footer>

    <script type="text/javascript" src="js/menuHome.js"></script>
    <script type="text/javascript" src="js/carrosselHome.js"></script>

</body>
</html>