<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Doceria Doces Sonhos</title>    
    <link rel="stylesheet" type="text/css" href="style/pedido.css">
</head>
<body>
    <header>
        <section class="header" id="header">
            <div id="mySidenav" class="sidenav">
                <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
                <a href="#header">Pedidos</a>
                <a href="#" onclick="open_home()">Home</a>
                <a href="#" onclick="open_conheca()">Conheça-nos</a>
                <a href="#" onclick="open_cardapio()">Cardápio</a>
                <a href="#" onclick="open_news()">Informações</a>
                <a href="#" onclick="open_carrinho2()">Ver carrinho</a>
            </div>
            <span onclick="openNav()">
                <div class="icone-menu"></div>
                <div class="icone-menu"></div>
                <div class="icone-menu"></div>
            </span>
            <div>
                <a onclick="open_home()">
                    <img src="img/logo-site.png" class="logo-site" alt="logo do site">
                </a>
            </div>
            <nav class="icones">
                <a href="https://www.instagram.com/elida.gouv/" target="_blank">
                    <img src="img/icone-instagram.png" class="instagram" alt="nosso instagram">
                </a>
                <a href="https://twitter.com/egouveia_" target="_blank">
                    <img src="img/icone-twitter.png" class="twitter" alt="nosso twitter"></a>
                <a href="https://www.facebook.com/profile.php?id=100007895179325" target="_blank">
                    <img src="img/icone-facebook.png" class="facebook" alt="nosso facebook"></a>
            </nav>
        </section>
    </header>
    <section id="pag-pedido">
        <div class="conteudo-pedido">
            <div id="titulo-pedido">
                <h1>Fazer pedido</h1>
            </div>
            <div class="imagens-pedido">
                <img src="img/bolo-de-chocolate.jpg" alt="Bolo de chocolate">
                <img src="img/torta-doce-de-leite.jpg" alt="Torta de doce de leite">
            </div>
            <div class="preco-pedido">
                <h3>R$ 24,99</h3>
                <h3>R$ 34,99</h3>
            </div>
            <div class="produtos-pedido">
                <h3>Bolo de chocolate</h3>
                <h3>Torta de doce de leite</h3>
            </div>
            <div class="adicionar-pedidos">
                <button>Adicionar ao carrinho</button>
                <button>Adicionar ao carrinho</button>
            </div>
            <div class="imagens-pedido">
                <img src="img/torta-de-morango.jpg" alt="Torta de morango">
                <img src="img/torta-de-cafe.jpg" alt="Torta clássica de café">
            </div>
            <div class="preco-pedido">
                <h3>R$ 34,99</h3>
                <h3>R$ 37,99</h3>
            </div>
            <div class="produtos-pedido">
                <h3>Torta de morango</h3>
                <h3>Torta clássica de café</h3>
            </div>
            <div class="adicionar-pedidos">
                <button>Adicionar ao carrinho</button>
                <button>Adicionar ao carrinho</button>
            </div>
            <div class="imagens-pedido">
                <img src="img/bolo-de-limao.jpg" alt="Bolo de limão">
                <img src="img/cheesecake-maca.jpg" alt="Cheescake de maçã">
            </div>
            <div class="preco-pedido">
                <h3>R$ 34,99</h3>
                <h3>R$ 36,99</h3>
            </div>
            <div class="produtos-pedido">
                <h3>Bolo recheado de limão</h3>
                <h3>Cheescake de maçã</h3>
            </div>
            <div class="adicionar-pedidos">
                <button>Adicionar ao carrinho</button>
                <button>Adicionar ao carrinho</button>
            </div>
            <div class="imagens-pedido">
                <img src="img/brownie.jpg" alt="Brownie clássico">
                <img src="img/donuts.jpg" alt="Donuts">
            </div>
            <div class="preco-pedido">
                <h3>R$ 5,00</h3>
                <h3>R$ 5,00</h3>
            </div>
            <div class="produtos-pedido">
                <h3>Brownie clássico</h3>
                <h3>Donuts (unidade)</h3>
            </div>
            <div class="adicionar-pedidos">
                <button>Adicionar ao carrinho</button>
                <button>Adicionar ao carrinho</button>
            </div>
            <div class="imagens-pedido">
                <img src="img/sonho.jpg" alt="Sonho recheado">
                <img src="img/macarons.jpg" alt="Macarons franceses">
            </div>
            <div class="preco-pedido">
                <h3>R$ 2,50</h3>
                <h3>R$ 3,50</h3>
            </div>
            <div class="produtos-pedido">
                <h3>Sonho recheado</h3>
                <h3>Macarons franceses</h3>
            </div>
            <div class="adicionar-pedidos">
                <button>Adicionar ao carrinho</button>
                <button>Adicionar ao carrinho</button>
            </div>
            <div class="imagens-pedido">
                <img src="img/brigadeiro.jpg" alt="Brigadeiro">
                <img src="img/pudim.jpg" alt="Pudim">
            </div>
            <div class="preco-pedido">
                <h3>R$ 1,50</h3>
                <h3>R$ 4,00</h3>
            </div>
            <div class="produtos-pedido">
                <h3>Brigadeiro gourmet</h3>
                <h3>Pudim tradicional</h3>
            </div>
            <div class="adicionar-pedidos">
                <button>Adicionar ao carrinho</button>
                <button>Adicionar ao carrinho</button>
            </div>
            <div id="ver_carrinho">
                <button>Ver carrinho</button>
            </div>
            
        </div>
        </div>
    </section>

    <script type="text/javascript" src="js/menuHome.js"></script>
    <script type="text/javascript" src="js/redirecionamentoHome.js"></script>
    <script type="text/javascript" src="js/redirecionamentoPedido.js"></script>
</body>
</html>