@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Reenie+Beanie&display=swap');

* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
  font-size: 100%;
}

.header {
    display: flex;
    background-color:#E9A96F;
    height: 160px;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.logo-site {
    height: 140px;
    margin-left: 60px;
    margin-right: -20px;
}

.instagram, .twitter, .facebook {
    height: 40px;
    width: 40px;
}

/* menu */

/* The side navigation menu */
.sidenav {
    height: 100%; 
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; 
    z-index: 1; 
    top: 0; 
    left: 0;
    background-color: #753E0C;
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
  }
  
  /* links menu */
.sidenav a {
  padding: 8px 8px 8px 32px;
  font-size: 25px;
  color: white;
  display: block;
  transition: 0.3s;
  margin: 18px;
  padding-top: 30px;
  font-family: Josefin Sans;
}
  
.sidenav a:hover {
  color: #E9A96F;
  font-size: 28px;
}
  
  /* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 23px;
  font-size: 50px;
  margin-left: 50px;
  padding-top: 30px;
}
  
  /* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  transition: margin-left .5s;
  padding: 20px;
}
  
  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav { 
    padding-top: 15px;
  }
  .sidenav a { 
    font-size: 18px;
  }
}

.icone-menu {
  width: 30px;
  height: 3px;
  background-color: white;
  margin: 6px 0;
  cursor: pointer;
}

  /* carousel */

.carousel {
  overflow: hidden;
  max-width: 500px;
  position: relative;
}

.carousel .carousel_item, .carousel .carousel_item--hidden {
  display: none;
}

.carousel .carousel_item img {
  width: 380px;
  max-width: 500px;
  height: 500px;
}

.carousel .carousel_item--visible {
  display: block;
  animation: fadeVisibility 0.5s;
}

@keyframes fadeVisibility {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: opacity linear;
  }
}

.carousel .carousel_actions {
  display: flex;
  width: 100%;
  justify-content: space-between;
  position:absolute;
  top: 50%;
  transform: translateY(-50%);
  opacity: 80%;
  align-items: flex-start;
  padding: 10px;
}

.carousel .carousel_actions button {
  width: 37px;
  height: 38px;
  border-radius: 50%;
  border: 0;
  font-weight: bold;
  color:#8EBB7E;
  font-size: 30px;
  cursor: pointer;
}

/* conteudo landing page */

.main-landing-page {
  display: flex;
  justify-content: flex-start;
  
}

.conteudo-landing-page {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.tradicao-landing-page {
  padding-top: 118px;
  text-align: left;
  align-items: center;
  margin-left: 96px;
  padding-right: 0;
  padding-left: 0;
}

.tradicao-landing-page h1 {
  font-family: Josefin Sans;
  width: 100%;
  color: #E9A96F;
  font-size: 44px;
}

.paragrafo-landing-page {
  font-family:EB Garamond;
  font-size: 25px;
  color:#753E0C;
  padding-top: 22px;
  text-align: left;
  margin-left: 96px;
}

.btn-cardapio {
  width: 124px;
  height: 35px;
  font-family: Josefin Sans;
  font-size: 17px;
  color: white;
  background-color: #753E0C;
  border: 0;
  cursor: pointer;
  margin-top: 20px;
  margin-left: 48px;
}

.btn-cardapio:hover {
  width: 124px;
  height: 35px;
  font-family: Josefin Sans;
  font-size: 18px;
  color:#E9A96F;
  background-color: #753E0C;
  border: white;
}

.cardapio-landing-page {
  display: flex;
  justify-content: space-between;
  align-self: auto;
  margin-top: 20px;
  margin-left: 50px;
}

.hr-landing-page {
  height: 10px;
  background-color: #753E0C;
  border: 0;
  margin-top: -4px;
}

/* conheça-nos */

.pagina2 {
  background-color:#8EBB7E;
  height: 850px;
  position:relative;
}

.conteudo-page2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.titulo1-page2 {
  color:white;
  font-family:Reenie Beanie;
  text-align: center;
  font-weight: 100;
  font-size: 42px;
  padding: 70px;
}

.titulo2-page2 {
  font-family: Josefin Sans;
  color: #753E0C;
  text-align: center;
  font-size: 50px;
  font-weight: bold;
  margin-top: -50px;
}

.titulo2-page2:hover {
  font-family: Josefin Sans;
  color:#753E0C;
  text-align: center;
  font-size: 52px;
  font-weight: bold;
  margin-top: -50px;
}

.paragrafo-page2 {
  font-family: EB Garamond;
  color:white;
  font-size: 24px;
  font-weight: 100;
  text-align: center;
  margin-top: 35px;
}

/* segundo carousel */

.carousel2 {
  overflow: hidden;
  max-width: 320px;
  position: relative;
  margin-top: 65px;
}

.carousel2 .carousel_item, .carousel2 .carousel_item--hidden {
  display: none;
}

.carousel2 .carousel_item img {
  max-width: 320px;
  width: 291px;
  height: 325px;
  border-radius: 10%;
}

.carousel2 .carousel_item--visible {
  display: block;
  animation: fadeVisibility 0.5s;
}

.carousel2 .carousel_actions {
  display: flex;
  width: 100%;
  top: 50%;
  justify-content: space-between;
  position: absolute;
  opacity: 80%;
  transform: translateY(-50%);
  align-items: flex-start;
  padding: 10px;
}

.carousel2 .carousel_actions button {
  width: 37px;
  height: 38px;
  border-radius: 50%;
  border: 0;
  font-weight: bold;
  color:#E9A96F;
  font-size: 30px;
  cursor: pointer;

}

.hr-pagina2 {
  height: 10px;
  background-color: #753E0C;
  border: 0;
}

/* pagina de cardapio */

.pagina-cardapio {
  height: 1679px;
  background-color: white;
}

.foto-principal-cardapio {
  opacity: 15%;
  position: absolute;
  height: 1679px;
  width: 100%;
}

.conteudo-pagina-de-cardapio {
  z-index: 2;
  position: absolute;
  width: 100%;
}

.titulo-cardapio {
  font-family: Josefin Sans;
  font-size: 52px;
  color: #E9A96F;
  padding-top: 87px;
  padding-left: 70px;
  position: relative;
}

.conteudo-pagina-de-cardapio h2 {
  font-size: 45px;
  font-family: Reenie Beanie;
  color: #753E0C;
  font-weight: 100;
  padding-left: 76px;
  padding-top: 70px;
  position:relative;
}

.imagens-cardapio {
  display: flex;
  flex-direction: row;
  justify-content:space-around;
  align-items: center;
  margin-top: 40px;
}

.imagens-cardapio img {
  border: 1px solid #E9A96F;
  width: 150px;
  height:170px;
}

.produtos-cardapio {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.produtos-cardapio h1 {
  font-size: 24px;
  font-family: EB Garamond;
  color:#753E0C;
  padding-top: 20px;
}

.produto1 {
  padding-left: 7px;
}

.btn-pedido {
  height: 36px;
  width: 300px;
  color:white;
  background-color:#753E0C;
  font-family: EB Garamond;
  font-size: 20px;
  font-weight: 100;
  border:0;
  cursor: pointer;
}

.btn-pedido:hover {
  height: 36px;
  width: 300px;
  color:white;
  background-color:#BE6144;
  font-family: EB Garamond;
  font-size: 21px;
  font-weight: 100;
  border:0;
  cursor: pointer;
}

.botao-pedido {
  display:flex;
  justify-content: center;  
  align-items: center;
  padding-top: 120px;
}

/*newsletter*/

.newsletter {
  height: 430px;
  background-color: #BE6144;
}

.linha-decoracao {
  padding-top: 13px;
  display: flex;
  flex-direction: column;
}

.linha2 {
  margin-top: -30px;
}

.inputs-newsletter {
  padding-top: 29px;
  display: flex;
  justify-content: space-evenly;
}

.conteudo-newsletter h1 {
  font-family: Josefin Sans;
  font-size: 40px;
  color: white;
  font-weight: 100;
  text-align: center;
  padding-top: 55px;
}

.conteudo-newsletter h3 {
  font-family: Josefin Sans;
  font-size: 20px;
  color: white;
  font-weight: 100;
  text-align: center;
  padding-top: 27px;
}

.input-nome, .input-email {
  height: 39px;
  width: 238px;
  font-size: 16px;
}

#iptEnviar {
  height: 39px;
  width: 238px;
  background-color:#8EBB7E;
  border: none;
  cursor: pointer;
  font-family: EB Garamond;
  color:white;
  font-size: 20px;
}

#iptEnviar:hover {
  height: 39px;
  width: 238px;
  background-color:#8EBB7E;
  border: none;
  cursor: pointer;
  font-family: EB Garamond;
  color:white;
  font-size: 22px;
}

#inputEnviar {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 45px;
}

.footer {
  height: 228px;
  background-color: #8EBB7E;
}

.inf-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-top: 30px;
}

.horarios h1, .encomendas h1, .endereco h1 {
  font-family: EB Garamond;
  font-weight: 500;
  font-size: 17px;
  color: white;
  font-weight: 500;
  padding-top: 18px;
}

.horarios h2, .encomendas h2, .endereco h2 {
  font-family: EB Garamond;
  font-weight: 500;
  font-size: 23px;
  color: white;
  font-weight: 500;
}

.horarios, .encomendas, .endereco {
  text-align:center;
}

@media only screen and (max-width: 1000px) {
  .header {
    height: 150px;
  }

  .logo-site {
    height: 120px;
  }

  .instagram, .twitter, .facebook {
    height: 35px;
    width: 35px;
  }

  .icone-menu {
    width: 26px;
    height: 3px; 
  }

  .tradicao-landing-page h1 {
    font-size: 32px;
    margin-left: -41px;
  }

  .paragrafo-landing-page {
    font-size: 20px;
    margin-left: 60px;
    padding-top: 30px;
  }

  .btn-cardapio {
    width: 120px;
    height: 31px;
    font-size: 15px;
  }

  .btn-cardapio:hover {
    width: 120px;
    height: 31px;
    font-size: 16px;
  }

  .cardapio-landing-page {
    margin-left: 10px;
  }

  .carousel .carousel_item img {
    width: 320px;
    max-width: 500px;
    height: 480px;
  }

  .carousel .carousel_actions button {
    width: 35px;
    height: 36px;
  }

  .titulo1-page2 {
    font-size: 40px;
  }
  
  .titulo2-page2 {
    font-size: 47px;
  }
  
  .titulo2-page2:hover {
    font-size: 48px;
  }
  
  .paragrafo-page2 {
    font-size: 22px;
  }

  .pagina-cardapio {
    height: 1550px;
  }

  .foto-principal-cardapio {
    width: 100%;
    height: 1550px;
    position: absolute;
  }

  .conteudo-pagina-de-cardapio h2 {
    font-size: 34px;
  }

  .titulo-cardapio {
    font-size: 42px;
  }

  .imagens-cardapio img {
    width: 125px;
    height:145px;
  }
  
  .produtos-cardapio h1 {
    font-size: 20px;
  }

  .newsletter {
    height: 412px;
  }
  
  .linha-decoracao {
    padding-top: 13px;
  }

  .linha2 {
    margin-top: -24px;
  }
  
  .inputs-newsletter {
    padding-top: 29px;
  }
  
  .conteudo-newsletter h1 {
    font-size: 39px;
    padding-top: 55px;
  }
  
  .conteudo-newsletter h3 {
    font-size: 19px;
    padding-top: 27px;
  }
  
  .input-nome, .input-email {
    height: 37px;
    width: 233px;
    font-size: 16px;
  }
  
  #iptEnviar {
    height: 37px;
    width: 233px;
    font-size: 20px;
  }
  
  #iptEnviar:hover {
    height: 37px;
    width: 233px;
    font-size: 21px;
  }
  
  #inputEnviar {
    padding-top: 45px;
  }

  .footer {
    height: 210px;
  }
  
  .inf-footer {
    padding-top: 33px;
  }
  
  .horarios h1, .encomendas h1, .endereco h1 {
    font-size: 17px;
    padding-top: 20px;
  }
  
  .horarios h2, .encomendas h2, .endereco h2 {
    font-size: 20px;
  }
}

@media only screen and (max-width: 700px) {
  .header {
    height: 140px;
  }

  .logo-site {
    height: 113px;
  }

  .instagram, .twitter, .facebook {
    height: 31px;
    width: 31px;
  }

  .icone-menu {
    width: 22px;
    height: 2px; 
  }

  .tradicao-landing-page {
    padding-top: 88px;
  }
  
  .tradicao-landing-page h1 {
    font-size: 30px;
    margin-left: -54px;
  }

  .paragrafo-landing-page {
    font-size: 19px;
    margin-left: 40px;
    padding-top: 20px;
  }

  .btn-cardapio {
    width: 112px;
    height: 29px;
    font-size: 14px;
  }

  .btn-cardapio:hover {
    width: 112px;
    height: 29px;
    font-size: 15px;
  }

  .cardapio-landing-page {
    margin-left: -10px;
  }

  .carousel .carousel_item img {
    width: 310px;
    max-width: 400px;
    height: 430px;
  }

  .carousel .carousel_actions button {
    width: 32px;
    height: 33px;
    font-size: 28px;
  }

  .titulo1-page2 {
    font-size: 35px;
  }
  
  .titulo2-page2 {
    font-size: 41px;
  }
  
  .titulo2-page2:hover {
    font-size: 42px;
  }
  
  .paragrafo-page2 {
    font-size: 18px;
  }

  .carousel2 .carousel_item img {
    max-width: 300px;
    width: 285px;
    height: 319px;
  }

  .carousel2 .carousel_actions button {
    width: 35px;
    height: 36px;
    font-size: 28px;
  }

  .pagina-cardapio {
    height: 1410px;
  }

  .foto-principal-cardapio {
    width: 100%;
    height: 1410px;
    position: absolute;
  }

  .conteudo-pagina-de-cardapio h2 {
    padding-left: 0;
    text-align: center;
    font-size: 33px;
  }

  .titulo-cardapio {
    font-size: 40px;
    text-align: center;
    padding-left: 0;
  }

  .imagens-cardapio img {
    width: 105px;
    height:125px;
  }
  
  .produtos-cardapio h1 {
    font-size: 16px;
  }

  .btn-pedido {
    height: 33px;
    width: 270px;
    font-size: 19px;
  }
  
  .btn-pedido:hover {
    height: 33px;
    width: 270px;
    font-size: 20px;
  }
  
  .botao-pedido {
    padding-top: 110px;
  }

  .newsletter {
    height: 430px;
  }
  
  .linha-decoracao {
    padding-top: 13px;
  }

  .linha1 {
    margin-top: 5px;
  }

  .linha2 {
    margin-top: -18px;
  }
  
  .inputs-newsletter {
    flex-direction: column;
    align-items: center;
    padding-top: 40px;
  }
  
  .conteudo-newsletter h1 {
    font-size: 36px;
    padding-top: 52px;
  }
  
  .conteudo-newsletter h3 {
    font-size: 15px;
    padding-top: 27px;
    text-align:center;
  }
  
  .input-nome, .input-email {
    height: 29px;
    width: 216px;
    font-size: 12px;
    margin: 10px;
  }
  
  #iptEnviar {
    height: 23px;
    width: 154px;
    font-size: 14px;
  }
  
  #iptEnviar:hover {
    height: 23px;
    width: 154px;
    font-size: 15px;
  }
  
  #inputEnviar {
    padding-top: 45px;
  }

  .footer {
    height: 200px;
  }
  
  .inf-footer {
    padding-top: 33px;
  }
  
  .horarios h1, .encomendas h1, .endereco h1 {
    font-size: 14px;
    padding-top: 20px;
  }
  
  .horarios h2, .encomendas h2, .endereco h2 {
    font-size: 18px;
  }
}

@media only screen and (max-width: 450px) {
  .header {
    height: 130px;
  }

  .logo-site {
    height: 108px;
  }

  .instagram, .twitter, .facebook {
    height: 27px;
    width: 27px;
  }

  .icone-menu {
    width: 19px;
    height: 2px; 
  }

  .tradicao-landing-page {
    padding-top: 60px;
  }

  .tradicao-landing-page h1{
    font-size: 26px;
    margin-left: -63px;
    text-align: left;
  }

  .paragrafo-landing-page {
    font-size: 16px;
    margin-left: 34px;
    padding-top: 20px;
  }

  .btn-cardapio {
    width: 98px;
    height: 26px;
    font-size: 12px;
  }

  .btn-cardapio:hover {
    width: 98px;
    height: 26px;
    font-size: 13px;
  }

  .cardapio-landing-page {
    margin-left: -18px;
  }

  .carousel .carousel_item img {
    width: 290px;
    max-width: 300px;
    height: 410px;
  }

  .carousel .carousel_actions button {
    width: 30px;
    height: 31px;
    font-size: 28px;
  }

  .titulo1-page2 {
    padding-top: 90px;
    font-size: 30px;
  }
  
  .titulo2-page2 {
    font-size: 36px;
  }
  
  .titulo2-page2:hover {
    font-size: 37px;
  }
  
  .paragrafo-page2 {
    font-size: 14px;
  }

  .carousel2 .carousel_item img {
    max-width: 270px;
    width: 255px;
    height: 290px;
  }

  .carousel2 .carousel_actions button {
    width: 30px;
    height: 31px;
    font-size: 22px;
  }

  .pagina2 {
    height: 790px;
  }

  .pagina-cardapio {
    height: 1300px;
  }

  .foto-principal-cardapio {
    width: 100%;
    height: 1300px;
    position: absolute;
  }

  .conteudo-pagina-de-cardapio h2 {
    font-size: 30px;
    text-align: center;
    padding-left: 0;
  }

  .titulo-cardapio {
    font-size: 37px;
    text-align:center;
    padding-left: 0;
  }

  .imagens-cardapio img {
    width: 90px;
    height:105px;
  }
  
  .produtos-cardapio h1 {
    font-size: 14px;
  }

  .imagens-cardapio {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items:center;
  }

  .btn-pedido {
    height: 30px;
    width: 240px;
    font-size: 16px;
  }
  
  .btn-pedido:hover {
    height: 30px;
    width: 240px;
    font-size: 17px;
  }
  
  .botao-pedido {
    padding-top: 100px;
  }

  .newsletter {
    height: 430px;
  }
  
  .linha-decoracao {
    padding-top: 13px;
  }

  .linha1 {
    margin-top: 5px;
  }

  .linha2 {
    margin-top: -12px;
  }
  
  .inputs-newsletter {
    flex-direction: column;
    align-items: center;
    padding-top: 40px;
  }
  
  .conteudo-newsletter h1 {
    font-size: 34px;
    padding-top: 52px;
  }
  
  .conteudo-newsletter h3 {
    font-size: 13px;
    padding-top: 27px;
    text-align:center;
  }
  
  .input-nome, .input-email {
    height: 26px;
    width: 193px;
    font-size: 11px;
    margin: 10px;
  }
  
  #iptEnviar {
    height: 22px;
    width: 140px;
    font-size: 13px;
  }
  
  #iptEnviar:hover {
    height: 22px;
    width: 140px;
    font-size: 15px;
  }
  
  #inputEnviar {
    padding-top: 45px;
  }

  .footer {
    height: 180px;
  }
  
  .inf-footer {
    padding-top: 34px;
  }
  
  .horarios h1, .encomendas h1, .endereco h1 {
    font-size: 11px;
    padding-top: 20px;
  }
  
  .horarios h2, .encomendas h2, .endereco h2 {
    font-size: 15px;
  }
}

@media only screen and (max-width: 340px) {
  .header {
    height: 110px;
  }

  .logo-site {
    height: 88px;
    padding-right: 30px;
  }

  .instagram, .twitter, .facebook {
    height: 19px;
    width: 19px;
  }

  .icone-menu {
    width: 17px;
    height: 2px;
    margin-left: 10px;
  }

  .tradicao-landing-page {
    padding-top: 55px;
  }

  .tradicao-landing-page h1 {
    font-size: 22px;
    margin-left: -64px;
  }

  .paragrafo-landing-page {
    font-size: 14px;
    margin-left: 30px;
    padding-top: 20px;
  }

  .btn-cardapio {
    width: 90px;
    height: 23px;
    font-size: 11px;
  }

  .btn-cardapio:hover {
    width: 90px;
    height: 23px;
    font-size: 12px;
  }

  .cardapio-landing-page {
    margin-left: -20px;
  }

  .carousel .carousel_item img {
    width: 280px;
    max-width: 300px;
    height: 400px;
  }

  .carousel .carousel_actions button {
    width: 28px;
    height: 29px;
    font-size: 26px;
  }

  .titulo1-page2 {
    padding-top: 100px;
    font-size: 28px;
  }
  
  .titulo2-page2 {
    font-size: 34px;
  }
  
  .titulo2-page2:hover {
    font-size: 35px;
  }
  
  .paragrafo-page2 {
    font-size: 14px;
    padding-top: 30px;
  }

  .carousel2 .carousel_item img {
    max-width: 250px;
    width: 215px;
    height: 250px;
  }

  .carousel2 .carousel_actions button {
    width: 28px;
    height: 29px;
    font-size: 20px;
  }

  .pagina2 {
    height: 800px;
  }

  .pagina-cardapio {
    height: 1170px;
  }

  .foto-principal-cardapio {
    width: 100%;
    height: 1170px;
    position: absolute;
  }

  .conteudo-pagina-de-cardapio h2 {
    font-size: 28px;
    text-align: center;
    padding-left: 0;
  }

  .titulo-cardapio {
    font-size: 35px;
    text-align:center;
    padding-left: 0;
  }

  .imagens-cardapio img {
    width: 70px;
    height: 80px;
  }
  
  .produtos-cardapio h1 {
    font-size: 12px;
    text-align: center;
  }

  .btn-pedido {
    height: 27px;
    width: 200px;
    font-size: 13px;
  }
  
  .btn-pedido:hover {
    height: 27px;
    width: 200px;
    font-size: 14px;
  }
  
  .botao-pedido {
    padding-top: 80px;
  }

  .newsletter {
    height: 430px;
  }
  
  .linha-decoracao {
    padding-top: 13px;
  }

  .linha1 {
    margin-top: 5px;
  }

  .linha2 {
    margin-top: -12px;
  }
  
  .inputs-newsletter {
    flex-direction: column;
    align-items: center;
    padding-top: 40px;
  }
  
  .conteudo-newsletter h1 {
    font-size: 34px;
    padding-top: 52px;
  }
  
  .conteudo-newsletter h3 {
    font-size: 13px;
    padding-top: 27px;
    text-align:center;
  }
  
  .input-nome, .input-email {
    height: 26px;
    width: 173px;
    font-size: 11px;
    margin: 10px;
  }
  
  #iptEnviar {
    height: 20px;
    width: 120px;
    font-size: 11px;
  }
  
  #iptEnviar:hover {
    height: 20px;
    width: 120px;
    font-size: 13px;
  }
  
  #inputEnviar {
    padding-top: 45px;
  }

  .footer {
    height: 170px;
  }
  
  .inf-footer {
    padding-top: 34px;
  }
  
  .horarios h1, .encomendas h1, .endereco h1 {
    font-size: 9px;
    padding-top: 20px;
  }
  
  .horarios h2, .encomendas h2, .endereco h2 {
    font-size: 13px;
  }
}

@media only screen and (max-width: 242px) {
  .titulo1-page2 {
    padding-top: 100px;
    font-size: 25px;
  }
    
  .titulo2-page2 {
    font-size: 31px;
  }
    
  .titulo2-page2:hover {
    font-size: 32px;
  }
    
  .paragrafo-page2 {
    font-size: 12px;
    padding-top: 30px;
  }
  
  .carousel2 .carousel_item img {
    max-width: 240px;
    width: 205px;
    height: 240px;
  }
  
  .carousel2 .carousel_actions button {
    width: 26px;
    height: 27px;
    font-size: 18px;
  }
  
  .pagina2 {
    height: 790px;
  }

  .pagina-cardapio {
    height: 1150px;
  }

  .foto-principal-cardapio {
    width: 100%;
    height: 1150px;
    position: absolute;
  }

  .btn-pedido {
    height: 23px;
    width: 150px;
    font-size: 12px;
  }
    
  .btn-pedido:hover {
    height: 23px;
    width: 150px;
    font-size: 13px;
  }
    
  .botao-pedido {
    padding-top: 55px;
  }

  .conteudo-newsletter h1 {
    font-size: 28px;
    padding-top: 52px;
  }
}