<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Doceria Doces Sonhos</title>    
    <link rel="stylesheet" type="text/css" href="/style/carrinho.css">
</head>
<body>
  
    <vc:cart></vc:cart>
    <script type="text/javascript" src="js/menuHome.js"></script>
</body>