<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Doceria Doces Sonhos</title>
    <link rel="stylesheet" type="text/css" href="/style/home.css">
    <link rel="stylesheet" type="text/css" href="/style/carrinho.css">
    <link rel="stylesheet" type="text/css" href="/style/pedido.css">
</head>
<body>
    <header>
        <section class="header" id="header">
            <div id="mySidenav" class="sidenav">
                <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
                <a asp-controller="Pedido" asp-action="Index" >Pedidos</a>
                <a asp-controller="Home" asp-action="Index">Home</a>
                <a href="#pagina2">Conheça-nos</a>
                <a href="#pagina-cardapio">Cardápio</a>
                <a href="#newsletter">Informações</a>
                <a asp-controller="Cart" asp-action="Index">Ver carrinho</a>
            </div>
            <span onclick="openNav()">
                <div class="icone-menu"></div>
                <div class="icone-menu"></div>
                <div class="icone-menu"></div>
            </span>
            <div>
                <a asp-controller="Home" asp-action="Index">
                    <img src="/img/logo-site.png" class="logo-site" alt="logo do site">
                </a>
            </div>
            <nav class="icones">
                <a href="https://www.instagram.com/elida.gouv/" target="_blank">
                    <img src="/img/icone-instagram.png" class="instagram" alt="nosso instagram">
                </a>
                <a href="https://twitter.com/egouveia_" target="_blank">
                    <img src="/img/icone-twitter.png" class="twitter" alt="nosso twitter">
                </a>
                <a href="https://www.facebook.com/profile.php?id=100007895179325" target="_blank">
                    <img src="/img/icone-facebook.png" class="facebook" alt="nosso facebook">
                </a>
            </nav>
        </section>
    </header>
    @RenderBody();
    <footer>
        <section class="footer">
            <div class="linha-decoracao">
                <img src="img/decoracao.png" alt="" class="linha1">
                <img src="img/decoracao.png" alt="" class="linha2">
            </div>
            <div class="inf-footer">
                <div class="horarios">
                    <h2>Horários da doceria:</h2>
                    <h1>Segunda a sexta - 9h às 17h</h1>
                    <h1>Sábado - 13h às 19h</h1>
                </div>
                <div class="encomendas">
                    <h2>Encomendas:</h2>
                    <h1>docesonhos@gmail.com</h1>
                    <h1>(87)99171-2835</h1>
                </div>
                <div class="endereco">
                    <h2>Onde nos encontrar:</h2>
                    <h1>Av. Adjar da Silva Casé, <br> 800 - Indianópolis, <br> Caruaru - PE</h1>
                </div>
            </div>
        </section>
    </footer>

    <script type="text/javascript" src="js/menuHome.js"></script>
    <script type="text/javascript" src="js/carrosselHome.js"></script>
    <script type="text/javascript" src="js/redirecionamentoHome.js"></script>
    <script type="text/javascript" src="js/redirecionamentoPedido.js"></script>
</body>
@section Scripts{ 
@{ 
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
}
}