    <section id="pag-pedido">
        <div class="conteudo-pedido">
            <div id="titulo-pedido">
                <h1>Fazer pedido</h1>
            </div>
            <div class="imagens-pedido">
                <img src="img/bolo-de-chocolate.jpg" alt="Bolo de chocolate">
                <img src="img/torta-doce-de-leite.jpg" alt="Torta de doce de leite">
            </div>
            <div class="preco-pedido">
                <h3>R$ 24,99</h3>
                <h3>R$ 34,99</h3>
            </div>
            <div class="produtos-pedido">
                <h3>Bolo de chocolate</h3>
                <h3>Torta de doce de leite</h3>
            </div>
            <div class="adicionar-pedidos">
                <button>Adicionar ao carrinho</button>
                <button>Adicionar ao carrinho</button>
            </div>
            <div class="imagens-pedido">
                <img src="img/torta-de-morango.jpg" alt="Torta de morango">
                <img src="img/torta-de-cafe.jpg" alt="Torta clássica de café">
            </div>
            <div class="preco-pedido">
                <h3>R$ 34,99</h3>
                <h3>R$ 37,99</h3>
            </div>
            <div class="produtos-pedido">
                <h3>Torta de morango</h3>
                <h3>Torta clássica de café</h3>
            </div>
            <div class="adicionar-pedidos">
                <button>Adicionar ao carrinho</button>
                <button>Adicionar ao carrinho</button>
            </div>
            <div class="imagens-pedido">
                <img src="img/bolo-de-limao.jpg" alt="Bolo de limão">
                <img src="img/cheesecake-maca.jpg" alt="Cheescake de maçã">
            </div>
            <div class="preco-pedido">
                <h3>R$ 34,99</h3>
                <h3>R$ 36,99</h3>
            </div>
            <div class="produtos-pedido">
                <h3>Bolo recheado de limão</h3>
                <h3>Cheescake de maçã</h3>
            </div>
            <div class="adicionar-pedidos">
                <button>Adicionar ao carrinho</button>
                <button>Adicionar ao carrinho</button>
            </div>
            <div class="imagens-pedido">
                <img src="img/brownie.jpg" alt="Brownie clássico">
                <img src="img/donuts.jpg" alt="Donuts">
            </div>
            <div class="preco-pedido">
                <h3>R$ 5,00</h3>
                <h3>R$ 5,00</h3>
            </div>
            <div class="produtos-pedido">
                <h3>Brownie clássico</h3>
                <h3>Donuts (unidade)</h3>
            </div>
            <div class="adicionar-pedidos">
                <button>Adicionar ao carrinho</button>
                <button>Adicionar ao carrinho</button>
            </div>
            <div class="imagens-pedido">
                <img src="img/sonho.jpg" alt="Sonho recheado">
                <img src="img/macarons.jpg" alt="Macarons franceses">
            </div>
            <div class="preco-pedido">
                <h3>R$ 2,50</h3>
                <h3>R$ 3,50</h3>
            </div>
            <div class="produtos-pedido">
                <h3>Sonho recheado</h3>
                <h3>Macarons franceses</h3>
            </div>
            <div class="adicionar-pedidos">
                <button>Adicionar ao carrinho</button>
                <button>Adicionar ao carrinho</button>
            </div>
            <div class="imagens-pedido">
                <img src="img/brigadeiro.jpg" alt="Brigadeiro">
                <img src="img/pudim.jpg" alt="Pudim">
            </div>
            <div class="preco-pedido">
                <h3>R$ 1,50</h3>
                <h3>R$ 4,00</h3>
            </div>
            <div class="produtos-pedido">
                <h3>Brigadeiro gourmet</h3>
                <h3>Pudim tradicional</h3>
            </div>
            <div class="adicionar-pedidos">
                <button>Adicionar ao carrinho</button>
                <button>Adicionar ao carrinho</button>
            </div>
            <div id="ver_carrinho">
                <button>Ver carrinho</button>
            </div>
            
        </div>
        </div>
    </section>

    <script type="text/javascript" src="js/menuHome.js"></script>
    <script type="text/javascript" src="js/redirecionamentoHome.js"></script>
    <script type="text/javascript" src="js/redirecionamentoPedido.js"></script>
